@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

.dark ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  /* border-left: 1px; */
}

::-webkit-scrollbar-thumb {
  background: #cccccc99;
  /* border-radius: 10px; */
  /* border: 2px solid transparent; */
  background-clip: padding-box;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #cccccccc;
}

.dark ::-webkit-scrollbar-thumb {
  background: #55555544;
  /* border-radius: 10px; */
  /* border: 2px solid transparent; */
  /* background-clip: padding-box; */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #55555555;
}